flows.json
[{"id":"ce77fd84.397fc","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"4452c35a.3431dc","type":"function","z":"ce77fd84.397fc","name":"PreToken","func":"global.set(\"ge\",msg.payload.ge)\nglobal.set(\"re\",msg.payload.re)\nglobal.set(\"pa\",msg.payload.pa)\nglobal.set(\"lun\",msg.payload.lun)\nglobal.set(\"tpc\",msg.payload.tpc)\nglobal.set(\"ms\",msg.payload.ms)\nglobal.set(\"rs\",msg.payload.rs)\nglobal.set(\"ws\",msg.payload.ws)\nvar apikey=\"mBv55gksgYrhAuzX-PG6MQUCErxl_48P_PzR5Smnoiom\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":205,"y":340,"wires":[["a1db47b4.5f0788"]]},{"id":"3f89c863.d16e98","type":"ui_form","z":"ce77fd84.397fc","name":"","label":"","group":"5ea94651.c827f8","order":2,"width":0,"height":0,"options":[{"label":"gender","value":"ge","type":"text","required":true,"rows":null},{"label":"race/ethnicity","value":"re","type":"text","required":true,"rows":null},{"label":"parental level of education","value":"pa","type":"text","required":true,"rows":null},{"label":"lunch","value":"lun","type":"text","required":true,"rows":null},{"label":"test preparation course","value":"tpc","type":"text","required":true,"rows":null},{"label":"math score","value":"ms","type":"number","required":true,"rows":null},{"label":"reading score","value":"rs","type":"number","required":true,"rows":null},{"label":"writing score","value":"ws","type":"number","required":true,"rows":null}],"formValue":{"ge":"","re":"","pa":"","lun":"","tpc":"","ms":"","rs":"","ws":""},"payload":"","submit":"Submit","cancel":"Cancel","topic":"grade","x":55,"y":400,"wires":[["4452c35a.3431dc"]]},{"id":"a1db47b4.5f0788","type":"http request","z":"ce77fd84.397fc","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":415,"y":320,"wires":[["e35f50fa.37c1"]]},{"id":"e35f50fa.37c1","type":"function","z":"ce77fd84.397fc","name":"Pre Prediction","func":"var ge = global.get('ge')\nvar re = global.get('re')\nvar pa = global.get('pa')\nvar lun = global.get('lun')\nvar tpc = global.get('tpc')\nvar ms = global.get('ms')\nvar rs = global.get('rs')\nvar ws = global.get('ws')\nvar per = global.get('per')\nvar token=msg.payload.access_token\nvar instance_id=\"1776ec61-1a41-49e1-bd65-e50adf1338ab\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"gender\", \"race/ethnicity\", \"parental level of education\", \"lunch\", \"test preparation course\", \"math score\", \"reading score\", \"writing score\",], \"values\": [[ge,re,pa,lun,tpc,ms,rs,ws]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":705,"y":260,"wires":[["6da9b05e.ed632"]]},{"id":"6da9b05e.ed632","type":"http request","z":"ce77fd84.397fc","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/11142a5d-d45c-4fe6-8940-9b0d6aa2181d/predictions","tls":"","persist":false,"proxy":"","authType":"","x":815,"y":180,"wires":[["3219f893.445928","5bab1717.cd5f28"]]},{"id":"be718a2d.57bfc8","type":"ui_text","z":"ce77fd84.397fc","group":"5ea94651.c827f8","order":1,"width":0,"height":0,"name":"","label":"Percentage","format":"{{msg.payload}}","layout":"row-spread","x":915,"y":320,"wires":[]},{"id":"3219f893.445928","type":"debug","z":"ce77fd84.397fc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":935,"y":40,"wires":[]},{"id":"5bab1717.cd5f28","type":"function","z":"ce77fd84.397fc","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":100,"wires":[["be718a2d.57bfc8"]]},{"id":"5ea94651.c827f8","type":"ui_group","z":"","name":"student performance","tab":"75e23b7c.054044","order":2,"disp":true,"width":"6","collapse":false},{"id":"75e23b7c.054044","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":2,"disabled":false,"hidden":false}]